.ProfileCardStats-statLink[data-element-term='follower_stats'] {
	visibility: hidden;
}

.ProfileNav-stat[data-nav='followers'] {
	visibility: hidden;
}

.ProfileTweet-actionCountForPresentation {
	visibility: hidden;
}

.js-tweet-stats-container:not([hsm-modified='true']) {
	display: none!important;
}

.global-nav .people.notifications .count.new-count {
	display: none;
}

li.js-activity-favorite, li.js-activity-retweet, li.js-activity-follow {
	display: none;
}
